/*css reset*/
*{margin:0px;padding:0px;}
ul,li,ol{list-style:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
a,u{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
#top,#nav#banner{width:1000px;margin:0 auto;}
body{
	width: 100%;
}
.foot{
	width:100%;
	height: 400px;
	background: yellow;
}
.pledge{
	width: 100%;
	height: 420px;
	background: #EEEEEE;
}
.pledge_content{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #333333;
}
.pledge_content li{
	display: block;
	width: 250px;
	height: 50px;
	float: left;
	margin-left: 30px;
	line-height: 150px;
}
.pledge_content li .iconfont{
	font-size: 40px;
	color: red;
}
.pledge_content li b{
	color: #333333;
	margin-left: 20px;
}
.pledge_top{
	width: 100%;
	height: 100px;
}
.pledge_top .top_top{
	width: 100%;
	height: 50px;
}
.pledge_top .top_top li{
	float: left;
	width: 30px;
	height: 40px;
	margin-left: 30px;
	margin-right: 110px;
	border-bottom: 3px solid #333333;
}
.pledge_top .top_buttom{
	width: 100%;
	height: 50px;
}
.pledge_top .top_buttom li{
	float: left;
	width: 90px;
	height: 40px;
	font-size: 12px;
	margin-left: 30px;
	margin-right:50px;
	color: #333333;
	line-height: 40px;
}
.pledge .pledge_buttom{
	width: 100%;
	height: 200px;
}
.pledge_buttom ul{
	float: left;
	width: 90px;
	height: 200px;
	margin-left: 30px;
	margin-right:50px;
	/*text-align: center;*/
	/*padding-top: 30px;*/
}
.pledge_buttom ul li{
	width: 100%;
	height: 30px;
	line-height: 40px;
	font-size: 12px;
}
.pledge_buttom ul li a{
	color: #888888;
}

/*.foot_buttom{
	width: 100%;
	height: 200px;
	background: greenyellow;
}*/