/*css reset*/
*{margin:0px;padding:0px;}
ul,li,ol{list-style:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
a,u{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
#top,#nav#banner{width:1000px;margin:0 auto;}
body{
	width: 100%;
}
.head{
	width: 100%;
	height: 80px;
	background: black;	
}
.head img{
	float: left;
	width: 139px;
	height: 33px;
	padding-top: 25px;
	margin-left: 100px;
}
.head span{
	float: left;
	display:inline-block;
	height: 16px;
	border: 1px solid #fff;
	margin-left: 30px;
	margin-top: 35px;
}
.head h1{
	float: left;
	/*background: red;*/
	color: #fff;
	width: 100px;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 20px;
}

.center{
	width: 100%;
	height: 700px;
	background: #cccc;
	padding-top: 100px;
}
.center .register{
	width: 700px;
	height: 550px;
	background: #fff;
	margin: 0 auto;
	
}
.center .register_Method{
	width: 700px;
	height: 40px;
	background:#ccc;
}
.center .register_Method .register_phone{
	float: left;
	width: 150px;
	height: 40px;
	background: red;
	font-size: 20px;
	line-height: 40px;
}
.center .register_Method .register_phone .icon-shouji{
	margin-left: 10px;
	font-size: 20px;
	color: #fff;
	margin-right: 10px;

}
.center .register_Method .register_phone a{
	color: #ccc;
}

.center .register_Method .register_Email{
	float: left;
	width: 150px;
	height: 40px;
	background: #333333;
	font-size: 20px;
	line-height: 40px;
	margin-left: 10px;
}
.center .register_Method .register_Email .icon-1{
	margin-left: 10px;
	font-size: 20px;
	color: #fff;
	margin-right: 10px;

}
.center .register_Method .register_Email a{
	color: #ccc;
}
.center .register_Method .haveLogin{
	float: right;
	width: 200px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}
.center .register_Method .haveLogin a{
	color:cornflowerblue;
}
.center .register_Message{
	width: 450px;
	height: 600px;
	/*border: 1px solid black;*/
	margin: 40px auto;
}
.center .register_Message .state{
	width: 450px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50px;
	background: #ccc;	
}
.center .register_Message .state h3{
	float: left;
	width: 120px;
	height: 40px;
	border-right: 1px solid black;
	line-height: 40px;
	text-align: center;
}
.center .register_Message .state .world_State{
	float: left;
	width:280px;
	height: 40px;
	line-height: 40px;
	/*background: yellow;*/
}
.center .register_Message .state .world_State h4{
	float: left;
	margin-left: 20px;
	width: 100px;
	height: 40px;
}
.center .register_Message .state .world_State  span{
	float: right;
	top: 10px;
    width: 0px;
    height: 0px;
    margin-top: 15px;
    border-width: 8px;
    border-color: blue transparent transparent transparent;
    border-style: solid;
}
/*手机号码注册*/
.center .register_Message .regiter_text{
	width: 450px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50px;
	background: #ccc;
	margin-top: 20px;
}
.center .register_Message .regiter_text .phone_H{
	float: left;
	width:120px;
	height: 40px;
	border-right: 1px solid black;
 	line-height: 40px;
}
.center .register_Message .regiter_text h3{
	float: left;
	width: 90px;
	height: 40px;
	margin-left: 10px;
	
}
.center .register_Message .regiter_text span{
	float: left;
	top: 10px;
    width: 0px;
    height: 0px;
    margin-top: 15px;
    border-width: 8px;
    border-color: blue transparent transparent transparent;
    border-style: solid;
}
.center .register_Message .regiter_text input{
	float: left;
	width: 300px;
	height: 40px;
	border: none;
	background: #cccc;
}

/*短信验证*/
.center .register_Message .register_Verify{
		width: 450px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50px;
	background: #ccc;
	margin-top: 20px;
	
}
.center .register_Message .register_Verify h3{
	float: left;
	width: 110px;
	height: 40px;
	margin-left: 10px;
	border-right: 1px solid black;
	line-height: 40px;
}
.center .register_Message .register_Verify input{
	float: left;
	width: 300px;
	height: 40px;
	border: none;
	background: #cccc;
}
.center .register_Message .all{
	width: 450px;
	height: 230px;
	margin-top: 40px;
	padding-top: 20px;
}

.center .register_Message .all  input {
  width: 278px;
  height: 18px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  margin-left: 50px;
  font-size: 13px;
  color: #312e3d;
  border: none;
  border-bottom: 1px solid #312e3d;
  background-color: rgba(255, 255, 255, 0.9);
  background-color:#888888;
}
/*设置登录按钮*/
.center .register_Message .all .but {
  width: 300px;
  min-height: 20px;
  display: block;
  background-color: rgba(34, 64, 137, 0.7);
  border: 1px solid #224089;
  color: #fff;
  padding: 9px 20px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
  margin: 0;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.6s; 
}
