/*css reset*/
*{margin:0px;padding:0px;}
ul,li,ol{list-style:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
a,u{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
#top,#nav#banner{width:1000px;margin:0 auto;}
body{
	width: 100%;
}
.huweiCenter .home{
	width: 1210px;
	height: 80px;
	margin: 0 auto;
	/*background: red;*/
}
.huweiCenter .home h2{
	display: block;
	float: left;
	width: 100px;
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	margin-left: 10px;
}
.huweiCenter .home ul{
	float: left;
	margin-top: 20px;
	width: 900px;
	height: 40px;
	margin-left: 20px;
}
.huweiCenter .home li{
	float: left;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	
}
.huweiCenter .home li a{
	color: #888888;
}
.huweiCenter .home li:hover a{
	color: orange;
}
.huweiCenter .home li:hover{
	border-bottom: 3px solid orange;
}
.huweiCenter .home h3{
	display: block;
	width: 100px;
	height: 70px;
	float: right;
	line-height: 70px;
	font-size: 20px;
}
.huweiCenter .home h3 a{
	color: #888888;
}
.huweiCenter .home h3 a:hover{
	color: red;
}

/*智能穿戴相框*/
.huweiCenter .home_img{
	width: 1210px;
	height: 720px;
	margin: 0 auto;
}
.huweiCenter .home_img div{
	float: left;
	width:291px;
	height: 346px;
	margin-left: 10px;
	background: #fff;
	margin-top: 10px;
}
.huweiCenter .home_img div:first-child{
	float: left;
	width:592px;
	height: 346px;
	margin-left: 10px;
	margin-top: 10px;
	background-image: url(../images/gather/waer_img1.png);
}
.huweiCenter .home_img div img{
	width: 150px;
	height: 200px;
	margin-left: 80px;
	margin-top: 50px;
}
.huweiCenter .home_img h2{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #000000;
}
.huweiCenter .home_img h3{
	text-align: center;
	font-size: 12px;
	color: #888888;
	margin-top: 5px;
}
.huweiCenter .home_img h4{
	text-align: center;
	font-size: 12px;
	color: red;
	margin-top: 5px;
}
.huweiCenter .home_img div:hover{
	box-shadow: 1px 3px 30px #333333;
}

.huweiCenter .home_img{
	width: 1210px;
	height: 720px;
	margin: 0 auto;
}
.huweiCenter .home_img div{
	float: left;
	width:291px;
	height: 346px;
	margin-left: 10px;
	background: #fff;
	margin-top: 10px;
}
.huweiCenter .home_img div:first-child{
	float: left;
	width:592px;
	height: 346px;
	margin-left: 10px;
	margin-top: 10px;
	background-image: url(../images/gather/waer_img1.png);
}
.huweiCenter .home_img div img{
	width: 150px;
	height: 200px;
	margin-left: 80px;
	margin-top: 50px;
}
.huweiCenter .home_img h2{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #000000;
}
.huweiCenter .home_img h3{
	text-align: center;
	font-size: 12px;
	color: #888888;
	margin-top: 5px;
}
.huweiCenter .home_img h4{
	text-align: center;
	font-size: 12px;
	color: red;
	margin-top: 5px;
}
.huweiCenter .home_img div:hover{
	box-shadow: 1px 3px 30px #333333;
}

/*设置智能家居轮播图*/
.huweiCenter .home_swiper{
	position: relative;
	width: 1210px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
}
/*.huweiCenter .home_swiper .home_swiper_img{
	width: 5000px;
	height: 300px;
}
/*.huweiCenter .home_swiper .home_swiper_img div{
	float: left;
	width: 220px;
	height: 290px;
	margin-right: 1px;
	background: #fff;
}
.huweiCenter .home_swiper .home_swiper_img div img{
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-top: 30px;
}*/

/*设置文字位置*/
.huweiCenter .home_swiper .home_swiper_img h2{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #000000;
}
.huweiCenter .home_swiper .home_swiper_img h3{
	text-align: center;
	font-size: 12px;
	color: #888888;
	margin-top: 5px;
}
.huweiCenter .home_swiper .home_swiper_img h4{
	text-align: center;
	font-size: 12px;
	color: red;
	margin-top: 5px;
}
.huweiCenter .home_swiper .home_swiper_img div:hover{
	box-shadow: 1px 3px 30px #333333;
}

/*设置左图标点击滑动图片*/
.huweiCenter .home_swiper .home_swiper_left{
	position: absolute;
	width: 20px;
	height: 50px;
	top: 100px;
	left: 0;
	line-height: 50px;
	background: #888888;
	opacity: 0.5;
}
/*设置右图标点击滑动图片*/
.huweiCenter .home_swiper .home_swiper_right{
	position: absolute;
	width: 20px;
	height: 50px;
	top: 100px;
	line-height: 50px;
	right: 0;
	background: #888888;
	opacity: 0.5;
}
.huweiCenter .home_swiper .iconfont{
	color: #fff;
}*/
.huweiCenter .home_swiper .wear_swiper_left:hover{
	opacity: 1;
}
.huweiCenter .home_swiper .wear_swiper_right:hover{
	opacity: 1;
}

